# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
.idea

*/.springBeans

# Mac
.DS_Store

# Maven
log/
*.log
*.json
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# java
*.class
*.war
*.ear

# jrebel
rebel.xml

# bak
*.bak
/bin/
link-account-api/src/test/
Would skip repository link-account/
/link-account-dashboard-web/
link-account-api/src/main/java/cc/linkedme/account/common/annotation/
link-account-dashboard-web/src/main/java/cc/linkedme/account/handler/
!/link-account-dashboard-web/
